:root {
  --header-height: theme('spacing.14');
  --docs-scroll-margin-block: calc(var(--header-height) + 4rem);
  --blogpost-scroll-margin-block: calc(var(--header-height));
}

@screen md {
  :root {
    --header-height: theme('spacing.20');
    --blogpost-scroll-margin-block: calc(var(--header-height) - 0.5rem);
  }
}

@screen xl {
  :root {
    --docs-scroll-margin-block: calc(var(--header-height) + 1rem);
  }
}

.title-stroke {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
.title-stroke-filled {
  -webkit-text-fill-color: black;
}

.slide-from-bottom-to-top-enter-active,
.slide-from-bottom-to-top-leave-active {
  transition: transform 200ms ease-out, opacity 200ms linear;
}
.slide-from-bottom-to-top-enter,
.slide-from-bottom-to-top-leave-to {
  opacity: 0;
  transform: translate3d(0, 0, 0, -50px);
}
